/* Google Fonts for styling */

@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&family=Poppins:ital,wght@0,200;0,300;0,500;1,200&family=Roboto+Mono:wght@300&display=swap');

/* Answer styling */

.answer {
    background-color: #005;
    text-align: center;
    color: white;
    width: 100%;
    height: 250px;
}

#answers {
    background-color: white;

}

/* Page Styling */

body {
    background: url(../images/main-image/7227782.jpg) no-repeat center center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/* Title Styling */

.title {
    color: #005;
    background-color: #FFFFFF;
}

/* Question styling */

#question {
    color: #005;
    background-color: #FFFFFF;
    width: 100%;
    height: 200px;
}

/* Hidden frames */

.hide {
    display: none;
}

/* How to area styling */

#how-to-area {
    background-color: white;
    text-align: center;
}

.message-modal
{
    position: absolute;
    margin-top: 100px;
    color: black;
    background: rgba(255,255,255,0.75);
    width: 40%;
    text-align: center;
    height: 150px;
    z-index: 100000;
}